{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

    {%block cabecera %}Bienvenido | {{block.super}}{% endblock %}

    <!--ejemplo de como meter estilo al jumbotron del bootstrap de forma global ojo-->

    <style>
    body {

       {% block style%}
        .jumbotron{
       background-color: #9A2EFE!important;
       color: #FFF !important;
       }
       .btn-primary {
       border-color: #FFF!important;
       background-color: #4bff00b3!important;
       }

       .fa-cog,
       .fa-fighter-jet,
       .fa-cubes {
        color: gray;
       }

       .centrar {
        text-align: center;
        }

       #contenedor {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        display: block;
       }

       #contenedor iframe,
       #contenedor object,
       #contenedor embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 99.5%;
        height: 90.5%;
       }

       #contenedor img {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
       }
       {% endblock %}    
    </style>

    {% block jumbotron %}
    <div class="jumbotron" style='background-color: #9A2EFE!important'>
        <div class="container">
        <div class='row'>
            <div class='col-sm-6'>
                <h1><font color="white">Saber más de Zucchero </font><i class="fa fa-heart-o" aria-hidden="true"></i></h1>
                <p class="lead"><font color="white">Hola, bienvenido a nuestra web, tanto como si eres usuario, como si no pero estas interesado en serlo, te invitamos a revisar algunas cosas muy interesantes sobre el uso de Zucchero y sus ventajas de forma mas desarrollada.<br/> Atte <strong>Team Z.</strong> ;) .</font></p>
                <a class="btn btn-lg btn-primary" href="{% url 'about' %}" role="button">Ver Zucchero docs &raquo; </a>
            </div>
            <div class="container col-sm-6">
                <!--?autoplay=1;controls=0 nos da el autoplay a cualquier video y quita controles, YT API-->
              <div id="contenedor"><iframe src="https://www.youtube.com/embed/9No-FiEInLA?autoplay=0;controls=0" frameborder="0" allowfullscreen></iframe></div>
            </div>
        </div>      
        </div>    
    </div> 
    <!--fin de lo de boostrap-->
    {% endblock %}

    {% block content %}
    <!--Formulario de Django, el token permite acceder al algoritmo d edenegacion de falsificacion de peticiones-->
    <div class="section" id="forms">
        <br/>
        <h1><span>¿Deseas registrarte para más contenido de desarrolladores? </span></h1>
        <hr/>
        <!--Esto lo encontramos definido en views.py de boletin-->
        <p class='lead text-align-center'>{{titulo}}</p>
        <hr/>
        <div class='row'>
            {%if el_form %}
            <div class="col-sm-6">
                <div class="jumbotron">
                    <form method="POST" action="">{% csrf_token %}
                    {{el_form|crispy}}
                    <br/>
                    <input class="btn btn-lg btn-primary" role="button" type="submit" value="Suscripción al boletín&raquo;"/>
                    <!--input type="submit" value="Registrame"/-->
                    </form>
                </div>
            </div>
            {% endif %}


            <div class="col-sm-6">
                <div class="jumbotron" style='height: 325px'>
                    <h3 class="text-align-center">"Declaremos variables, no la guerra"</h3><h3 class="text-align-center"><i class="fa fa-terminal" aria-hidden="true"></i></h3>
                    <p class="lead">Quieres darnos sugerencias, unirte a la comunidad o compartir algo con nosotros?</p>
                    <br/>
                    <a class="btn btn-lg btn-primary" href="{% url 'contact' %}" role="button">Contáctanos!&raquo; </a>
                </div>
            </div>
        </div>
    </div>
    <!--imagenes-->
    <div class="section text-align-center">
        <div class='row'>
            <div class="col-sm-6">
                <div id="contenedor"><img src="{% static 'img/pie.png' %}" frameborder="0"></div>
            </div>
                <div class="col-sm-6"><div id="contenedor"><img src="{% static 'img/el.jpg' %}" frameborder="0"></div>
            </div>
        </div>
    </div>
    <!--jumbos de fortalezas-->
    <div class="section text-align-center">
        <div class='row'>
            <div class="col-sm-2">
                <div class="jumbotron" style="background-color: #9A2EFE!important; height: 30px">
                    <p class="lead"><font color="white">Responsivo </font><br/><i class="fa fa-desktop" aria-hidden="true"></i></p>
                </div>
                <div class="jumbotron" style="background-color: #ccff33!important; height: 30px"><p class="lead"><font color="gray">Mantenible </font><br/><i class="fa fa-cubes" aria-hidden="true"></i></p></div>
            </div>

            <div class="col-sm-2">
                <div class="jumbotron" style="background-color: #ccff33!important; height: 30px">
                    <p class="lead"><font color="gray">Eficiente </font><br/><i class="fa fa-cog fa-spin" aria-hidden="true"></i></p>
                </div>
                <div class="jumbotron" style="background-color: #9A2EFE!important; height: 30px"><p class="lead"><font color="white">Coqueto </font><br/><i class="fa fa-rocket" aria-hidden="true"></i></p></div>
            </div>

            <div class="col-sm-2">
                <div class="jumbotron" style="background-color: #9A2EFE!important; height: 30px">
                    <p class="lead"><font color="white">Simple </font><br/><i class="fa fa-code-fork" aria-hidden="true"></i></p>
                </div>
                <div class="jumbotron" style="background-color: #ccff33!important; height: 30px"><p class="lead"><font color="gray">Escalable </font><br/><i class="fa fa-fighter-jet" aria-hidden="true"></i></p></div>
            </div>
            <!--jumbo de icono gigante-->
            <div class="col-sm-6">
                <div class="jumbotron" style="background-color: #9A2EFE!important;">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><br/><br/><br/><p class="lead">Mucho de Bootstrap, Django y FontAwesome!</p>
                </div>
            </div>

        </div>
        <!--redes sociales-->
        <div class="row">
            <div>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x" style="color: #33ccff;"></i>
                </span>
                @zuccheromx &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x" style="color: blue;"></i>
                </span>
                ZuccheroMX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square-o fa-stack-2x"></i>
                  <i class="fa fa-youtube fa-stack-1x" style="color: red;"></i>
                </span>
                ZuccheroOfficialChannel &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div style="text-align:right;">
                <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-paypal fa-stack-1x"></i>
                </span>
                Te gustaría realizar una donación?
                <a class="btn btn-lg btn-primary" href="{% url 'about' %}" role="button">Donación &raquo; </a>
            </div>
        </div>
    </div>


    {% endblock %}


