/* Show it's not fixed to the top */
{% load static %}
body {
  min-height: 75rem;
  background-image: {% url 'backer.jpg' %};
  background-color: #cccccc;
}

.navbar-static-top{
	margin-bottom: 19px;
}

